body{
  background-color: skyblue;
}

#slider {
  position: relative;
  width: 600px;
  height: 300px;
  margin: 100px auto;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
} 

#slider ul li {
  position: relative;
  height: 100%;
  float: left;
}

#slider ul li img {
  width: 600px;
  height: 300px;
}

#slider #prev, #slider #next {
  width: 40px;
  line-height: 40px;
  font-size: 1.5rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: black;
  background: #f9f7fb;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}

#slider #prev {
 
}

#slider #next {
  right: 0px;
}

#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
  color: white;
}
